@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.elementCard {
    width: 340px;
    height: 340px;
    margin-bottom: 50px;
    background-color: grey;
    border-radius: 10px;
}

.cover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.titre {
    font: 20px 'Montserrat';
    font-weight: 500;
    color: #ffffff;
    margin-top: -45px;
    margin-left: 15px;
    width: auto;
    height: auto;
}