@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.containerCards {
    background-color: #f6f6f6;
    width: 80%;
    min-height: 400px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}