@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.containerValue {
    width: 100%;
}

.dropdown {
    background-color: #ff6060;
    width: 100%;
    height: 47px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.valueTitle {
    color: white;
    font: 24px 'Montserrat';
    font-weight: 500;
    width: 90%;
}

.arrowIcon {
    width: 24px;
    cursor: pointer;
    transform: rotate(180deg)
}

.activeArrowIcon {
    transform: rotate(180deg);
}

.descriptionValue {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    display: none;
}

.valueText {
    color: #ff6060;
    font: 24px'Montserrat';
    font-weight: 400;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: 142.6%;
    padding: 15px;
}

.notHidden {
    display: block;
}