@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.App-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.Logo {
    width: 250px;
    height: 80px;
}

.App-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

a {
    width: auto;
    font: 24px 'Montserrat';
    font-weight: 500;
    color: #FF6060;
}

.linkActive {
    color: green;
}