@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.containerHeader {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.logo {
    width: 250px;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 305px;
}

.accueil,
.propos {
    width: auto;
    font: 24px 'Montserrat';
    font-weight: 500;
    color: #FF6060;
    display: flex;
    justify-content: flex-end;
}

.accueil:hover,
.propos:hover {
    text-decoration: underline #FF6060;
}


/********************* RESPONSIVE **************/

@media all and (max-width: 400px) {
    .containerHeader {
        width: 335px;
        margin-bottom: 0;
    }
    ul {
        width: 82%;
    }
    li {
        width: auto;
    }
    .accueil {
        margin-right: 16px;
    }
    .nav {
        width: 68%;
        justify-content: flex-end;
    }
    .logo {
        width: 38%;
        height: 47px;
    }
    .accueil,
    .propos {
        font: 15px 'Montserrat';
    }
}