.conatinerAboutSection {
    width: 65%;
    margin: auto;
    min-height: 350px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}